.glyphicon {
  margin 0 0 0 15px;
  cursor pointer;
  &:hover {
    color #337ab7;
  }
}
ul {
  margin-top: 25px;
}
.person-form {
  .form-control {
    height 42px;
  }
}
.pagination {
  absolute: bottom -40px left 0;
  & > * {
    vertical-align middle;
  }
}
.pages {
  margin 0 10px;
}