li.list-group-item {{person.surname}} {{person.name}} {{person.phone}}
    span.glyphicon.glyphicon-remove(ng-click='listCtrl.deletePerson(listCtrl.currentPage*listCtrl.itemsPerPage + $index)')
    span.glyphicon.glyphicon-pencil(ng-click='listCtrl.editPerson(listCtrl.currentPage*listCtrl.itemsPerPage + $index)')