div.pagination
    button.btn.btn-primary.btn-sm(ng-disabled="paginationCtrl.firstPage()", ng-click="paginationCtrl.pageBack()") Prev
    span.pages {{paginationCtrl.currentPage+1}} from {{paginationCtrl.numberOfPages()}}
    button.btn.btn-primary.btn-sm(ng-disabled="paginationCtrl.lastPage()", ng-click="paginationCtrl.pageForward()") Next